@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&family=Silkscreen&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 23px;
  /* text-align: center; */
  vertical-align: baseline;
  font-family: 'Noto Sans Mono', monospace;
}

body {
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.wrapper {
  background: #111111;
  height: 100vh;
  width: 100%;

  display: flex;
  flex-direction: column;
  padding: 10px;
}

.calculator {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.main {
  flex-basis: 400px;

  text-align: center;
  border: 4px solid rgb(56, 56, 56);
  border-radius: 20px;
  max-width: 400px;

  padding: 20px;
}

.result {
  color: #ffffff;
  margin: auto;
  text-align: right;
  background-color: rgb(10, 10, 10);

  border-radius: 15px;
  padding: 8px;
  word-wrap: break-word;

  margin-bottom: 20px;
}

.keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);

  gap: 10px;
}

button {
  text-align: center;
  border: 2px solid rgb(56, 56, 56);
  background: #111111;
  color: #ffffff;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  border-color: rgb(26, 26, 26);
}

.supb {
  text-align: center;
  font-size: 15px;
}

.supbb {
  font-size: 11px;
}

.selected {
  border: 2px solid #fff;
}

footer {
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer > h6 {
  font-size: 20px;
}

footer > ul {
  list-style: none;
}

footer > ul > li {
  font-size: 18px;
}