@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&family=Silkscreen&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 30px;
  /* text-align: center; */
  vertical-align: baseline;
  font-family: 'Noto Sans Mono', monospace;
}

body{
  height: 100vh;
  width: 100%;
  background: #111111;
 }

.main{
  text-align: center;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 4px solid rgb(56, 56, 56);
  width: 31.25%;
  margin: auto;
  border-radius: 5%;
  height: 51.28%;
  padding-top: 20px;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 50%;
  transform: translate(-50%, -50%);
}

.result{
  color: #ffffff;
  height: 60px;
  width: 78.33%;
  margin: auto;
  text-align: right;
  background-color: rgb(10, 10, 10);
  border-radius: 15px;
  border-top: 20px;
  padding-right: 8px;
  padding-top: 8px;
  margin-bottom: 20px;
}

button{
  text-align: center;
  width: 100px;
  height: 60px;
  margin: 7px;
  border: 2px;
  background: #111111;
  color: #ffffff;
  border-color: rgb(56, 56, 56);
  border-style: solid;
  border-radius: 500px;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px;
}

button:hover{
  border-color: rgb(26, 26, 26);
}

.supb{
  text-align: center;
  font-size: 15px;
}

ul{
  list-style: none;
  text-align: left;
  padding-top: 905px;
  padding-left: 15px;
}

h6{
  font-size: 17px;
}

li{
  font-size: 14px;
  color: #ffffff;
}

.supbb{
  font-size: 11px;
}

.color-section > *{
  height: 60px;
  width: 60px;
  margin: 15px;
  border-radius: 100%;
}

.color-section{
  float: right;
}

.selected{
  border: 2px solid #fff;
}